* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    font-weight: $font-weight;
    background-color: $very-light-grayish-blue;
}

header {
    text-align: center;
    h1 {
        font-size: 2rem;
        color: $grayish-blue;
    }
    div#toggle {
        margin: 40px 0 90px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        p {
            font-size: $font-size;
            color: $light-grayish-blue;
        }
    }
    div#toggle_button {
        width: 54px;
        height: 30px;
        border-radius: 20px;
        background: $gradient;
        &:hover {
            transition: background 300ms ease-in-out;
            background: linear-gradient(90deg, lighten(hsl(236, 72%, 79%), 10) 0%, lighten(hsl(237, 63%, 64%), 10) 100%);
        }
    }
    div#toggle_button_circle {
        width: 22px;
        height: 22px;
        border-radius: 20px;
        background-color: $very-light-grayish-blue;
        margin: 4px;
    }
    
}

section {
    .card {
        background-color: white;
        padding: 30px;
        color: $grayish-blue;
        text-align: center;
        border-radius: 10px;
        h2 {
            font-size: 1.2rem;
        }
        p {
            font-size: $font-size;
            padding: 15px;
            border-bottom: 1px lighten($light-grayish-blue, 5) solid;
        }
        &_price {
            width: 260px;
            padding: 15px 0 20px 0;
            color: $dark-grayish-blue;
            border-bottom: 1px lighten($light-grayish-blue, 5) solid;
            display: flex;
            justify-content: center;
            align-items: center;
            &_num {
                font-size: 4.5rem;
            }
            span {
                font-size: 2.5rem;
                margin-right: 5px;
            }
        }
        a {
            display: block;
            padding: 14px;
            margin: 32px auto 0 auto;
            border-radius: 5px;
            font-size: 0.9rem;
            text-transform: uppercase;
            background: $gradient;
            border: white 1px solid;
            color: white;
            &:hover {
                transition: all 200ms ease-in-out;
                background: white;
                border: $violet 1px solid;
                color: $violet;
            }
        }
    }
    .card:nth-child(2) {
        background: $gradient;
        color: white;
        h3, span {
            color: white;
        }
        a {
            background: white;
            color: $violet;
            border: $gradient 1px solid;

            &:hover {
                transition: all 200ms ease-in-out;
                background: $gradient;
                border: white 1px solid;
                color: white;
            }
        }
    }
}


