body {
    background-image: url("../images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: right -40px;
}

#main-wrapper {
    width: 330px;
    margin: 65px auto 100px auto;
}

section {
    .card {
        margin-bottom: 30px;
        box-shadow: 20px 20px 30px -10px darken($very-light-grayish-blue, 5);
    }
}