body {
    background-image: url("../images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 200px -40px;
    background-attachment: fixed;

}

#main-wrapper {
    width: 330px;
    margin: 65px auto 100px auto;
}

section {
    .card {
        margin-bottom: 25px;
    }
}